<h1>求人の検索</h1>




<% form_tag :action => 'update', :id => @kyujin_uketsuke do %>
  <%= render :partial => 'search_form' %>
  <%= submit_tag '以上の条件で検索する' %>
<% end %>

<%= link_to '戻る', :action => 'list' %>
