<%= error_messages_for 'student' %>

<!--[form:student]-->
<p><label for="student_nyugakuid">入学ID</label><br/>
<%= text_field 'student', 'nyugakuid'  %></p>

<p><label for="student_name_sei">姓</label><br/>
<%= text_field 'student', 'name_sei'  %></p>

<p><label for="student_name_mei">名</label><br/>
<%= text_field 'student', 'name_mei'  %></p>

<p><label><%= radio_button :student, :sex,1 %>男</label>
  <label><%= radio_button :student, :sex,2 %>女</label></p>


<!--[eoform:student]-->

