<%# for column in KigyoHomon.content_columns %>
<p> <b>企業番号:</b> <%=h @kigyo_homon.kigyo_bango %> </p>
<p> <b>訪問担当科:</b> <%=h @kigyo_homon.senmon_kamei %> </p>
<p> <b>事業所名1:</b> <%=h @kigyo_homon.jigyosho_mei1 %> </p>
<p> <b>事業所名2:</b> <%=h @kigyo_homon.jigyosho_mei2 %> </p>
<p> <b>求人状況:</b> <%=h @kigyo_homon.kyujin_jokyo %> </p>
<p> <b>水工OBの様子:</b> <%=h @kigyo_homon.ob_yosu %> </p>
<p> <b>訪問月日:</b> <%=h @kigyo_homon.visit_date %> </p>

<%# end %>


<%#= link_to '戻る', :action => 'list' %>
