<h1>企業情報の編集</h1>

<% form_tag :action => 'update', :id => @kigyo_info do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '保存' %>

<% end %>

<%= link_to '表示', :action => 'show', :id => @kigyo_info %> |
<%= link_to '戻る', :action => 'list' %>
