<% for column in KigyoInfo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @kigyo_info.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @kigyo %> |
<%= link_to 'Back', :action => 'list' %>
