<h1>水工進路システム 管理用画面</h1>
<hr>

<h2>1.求人票管理関係<br></h2>
  <h3>
		<a href="http://122.152.25.122:3000/kyujin_uketsukes/">（1）求人票の受付(入力作業)</a>
	<br><br>
	<a href="http://122.152.25.122:3000/kyujin_uketsukes/list/">求人条件の一覧（既入力データの編集も可）</a>
	<br><br>
	<a href="http://122.152.25.122:3000/shinros/kyujin_daicho_out/">求人台帳のExcel出力（CSVファイル）</a>
<br><br>
<a href="http://122.152.25.122:3000/kigyo_daicho">企業番号を調べる（企業台帳から）</a>
<br><br>
<a href="http://122.152.25.122:3000/kigyo_daicho/kigyo_out">企業台帳のExcel出力(CSVファイル）</a>

<br><br>
（2）<a href="http://122.152.25.122:3000/shinros/how2ftp">FTPでPDFをサーバーに転送する
<br><br>
<a href="http://122.152.25.122:3000/uketsuke_pdfs/update_pdf_names">（3）求人票PDFファイル名の更新（この行をクリックするだけ）</a>
<br><br>
<a href="http://122.152.25.122:3000/uketsuke_pdfs/">（4）PDFを見ながら受付番号と職番号を登録する（紐付けを行う）</a>
<br><br>

<a href="http://122.152.25.122:3000/uketsuke_rirekis/update_uketsuke_rirekis_from_kyujin_uketsuke">
	（5）受付履歴作成(4の作業の後、必ず実行＝この行をクリックするだけでよい)</a>
<br><br><font color="GREEN">
	※（1）から（5）の作業を行うと生徒や教員が検索して求人票を見ることができるようになる。<br>
　求人票一束（約20枚）毎に（1）から（5）の作業を行うのがトラブルが少ないです。
</font><br><br>
<a href="http://122.152.25.122:3000/kigyo_daicho/list/">企業台帳一覧</a><br>
<a href="http://122.152.25.122:3000/uketsuke_rirekis/list/">求人受付履歴一覧</a><br>
<a href="http://122.152.25.122:3000/kigyo_info/list/">企業情報一覧</a><br>
</h3><br>

<h2>2.企業訪問関係</h2>
<h3>
<a href="http://122.152.25.122:3000/teachers/kigyo_search/">企業訪問のデータ入力はここから</a>
<br><br>
<a href="http://122.152.25.122:3000/kigyo_homons/list/">企業訪問の結果を見る（一覧表）</a>
<br><br>
<a href="http://122.152.25.122:3000/teachers/search2bango/">企業を検索する（求人票を見るため）</a>
</h3><br><br>

<hr>
<h6><div align="right">(C)o2@MTH,2007-2011</div></h6>

