<h1>Editing kyujin_daicho_t1s</h1>

<% form_tag :action => 'update', :id => @kyujin_daicho_t1s do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @kyujin_daicho_t1s %> |
<%= link_to 'Back', :action => 'list' %>
