<h1>水工求人票閲覧システム 教員用画面</h1>
<h6><div align="right">(C)o2@MTH,2008</div></h6>

<hr>
<br><br>
<h2>
<a href="http://122.152.25.122:3000/teachers/kigyo_search/">企業訪問のデータ入力はここから</a>
<br><br>
<a href="http://122.152.25.122:3000/kigyo_homons/list/">企業訪問の結果を見る（一覧表）</a>
<br><br>
<a href="http://122.152.25.122:3000/teachers/search2bango/">企業を検索する（求人票を見るため・企業訪問の結果も）</a>
<br><br>
<br>
</h2>
